<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="consoleWithColors" />
	</root>

	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="consoleWithColors" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="info" />
			<forecolor value="green" />
		</mapping>

		<mapping>
			<level value="warn" />
			<forecolor value="yellow" />
		</mapping>

		<mapping>
			<level value="error" />
			<forecolor value="red" />
		</mapping>

		<mapping>
			<level value="fatal" />
			<forecolor value="yellow" />
		</mapping>

		<mapping>
			<level value="debug" />
			<forecolor value="blue" />
		</mapping>

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %logger - %message%newline" />
		</layout>
	</appender>
</log4net>